<div class="min-h-screen bg-black flex items-center justify-center p-4 relative">
  <button
    class="absolute bottom-8 left-8 sm:top-8 sm:bottom-auto text-gray-400 hover:text-cyan-400 transition-colors text-sm underline"
    (click)="gameController.navigateToHome()"
  >
    ← {{ viewModel.homeLinkLabel }}
  </button>

  <div class="w-full max-w-2xl space-y-12 flex flex-col items-center">
    <div class="text-center">
      <h1 class="text-6xl font-bold text-white">
        {{ viewModel.title }}
      </h1>
      <p class="text-2xl text-cyan-400 mt-3">
        {{ viewModel.subtitle }}
      </p>
    </div>

    <div class="grid gap-2 p-8 border border-cyan-400/20 rounded-2xl w-fit">
      @for (row of viewModel.grid; track $index) {
      <div class="flex gap-2">
        @for (cell of row; track cell.x + '-' + cell.y) {
        <button
          (click)="gameController.play(cell, viewModel.grid.length)"
          class="w-12 h-12 sm:w-16 sm:h-16 rounded-2xl transition-colors"
          [class.bg-cyan-400]="cell.lightOn"
          [class.bg-gray-900]="!cell.lightOn"
          [class.hover:bg-cyan-300]="cell.lightOn"
          [class.hover:bg-gray-800]="!cell.lightOn"
        ></button>
        }
      </div>
      }
    </div>
  </div>
</div>
