<div class="flex flex-col gap-2 p-8 border border-cyan-400/20 rounded-2xl w-full max-w-lg">
  
  <!-- Victory Message -->
  @if (viewModel.grid.spotlight) {
    <p class="flex flex-col items-center justify-center gap-2 text-cyan-400 text-xl text-center font-semibold" data-testid="victory-message">
      <span class="material-symbols-outlined">celebration</span>
      {{ viewModel.congratulations }}
    </p>
  }
  
  <!-- Game Grid -->
  @else {
    @for (row of viewModel.grid.cells; track $index) {
      <div class="flex gap-2 w-full">
        @for (cell of row; track cell.x + '-' + cell.y) {
          <button data-testid="cell" [attr.data-testid-2]="'cell-' + cell.x + '-' + cell.y"
            class="flex-1 aspect-square rounded-2xl transition-colors border"
            [class.bg-cyan-400]="cell.lightLevel === 2"
            [class.border-cyan-400]="cell.lightLevel === 2"
            [class.hover:bg-cyan-300]="cell.lightLevel === 2"
            [class.bg-cyan-400/50]="cell.lightLevel === 1"
            [class.border-cyan-400/50]="cell.lightLevel === 1"
            [class.hover:bg-cyan-400/60]="cell.lightLevel === 1"
            [class.bg-gray-800]="cell.lightLevel === 0"
            [class.border-gray-600]="cell.lightLevel === 0"
            [class.hover:bg-gray-700]="cell.lightLevel === 0"
            (click)="controller.play(viewModel.grid, cell)"
          ></button>
        }
      </div>
    }
  }

</div>
